:root {
    --white: rgb(244, 244, 244);
    --black: rgb(21, 21, 21);
    --lightgrey: rgb(217, 217, 217);
    --darkgrey: rgb(175, 175, 175);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:hover {
    cursor:default ;
}

*::selection {
    background-color: transparent;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 160px 200px 0 200px;
}

main>div {
    padding: 100px 80px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: underline;
    color: var(--black);
}

.weather-card {
    text-align: center;
    max-width: 600px;
}

.weather-location {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.weather-location:hover,
.weather-location:focus {
    cursor: text;
    outline: none; 
    border: none; 
    background-color: transparent;
    transform: translateY(-4px);
    font-size: 3rem;
}

.weather-location::selection {
    background-color: var(--lightgrey);
}


.weather-condition {
    font-size: 2rem;
    margin-bottom: 5px;
}

.weather-temperature {
    font-size: 6rem;
    font-weight: bold;
}

.weather-forecast {
    max-width: 1000px;
}

.weekday {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 0; 
}

.weekday div {
    padding: 0 20px;
}

.param-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.param-grid .row {
    display: flex;
    width: 100%;
    justify-content: space-around; 
    margin-bottom: 20px;
}

.param-pair {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex: 1; 
    padding: 0 40px 0 40px; 
    text-align: center; 
    width: 240px;
}

footer {
    padding: 100px 0 0 0;
}

a:hover {
    cursor: pointer;
}

@media (max-width: 1450px) {
    main {
        padding: 160px 0 0 0;
    }

    .weather-location {
        font-size: 2rem;
    }

    .weather-condition {
        font-size: 2rem;
    }

    .weather-temperature {
        font-size: 6rem;
    }

}



@media (max-width: 1150px) {
    main {
        flex-direction: column;
        padding: 80px 50px 0 50px;
    }

    main > div {
        padding: 20px 0px 10px 0;
    }

    .weather-location {
        font-size: 2rem;
    }

    .weather-temperature {
        font-size: 6rem;
    }

    .weather-forecast {
        padding: 40px 0 40px 0;
    }

    .param-grid .row {
        flex-direction: wrap;
        align-items: center;
    }

    footer {
        padding: 20px 0 0 0;
    }

    .param-pair {
        width: 100%;
        padding: 20px 40px;
    }
}

@media (max-width: 800px) {
    main {
        padding: 0;
    }

    .weather-card {
        padding: 100px 0 0 0;
    }

    .weather-location {
        font-size: 1.8rem;
    }

    .weather-condition {
        font-size: 1.8rem;
    }

    .weather-temperature {
        font-size: 5rem;
    }

    .param-grid .row {
        flex-direction: column;
        align-items: center;
    }

    footer {
        padding: 80px 0 120px 0;
    }
}


@media (max-width: 480px) {
    html {
        font-size: 16px; 
    }

    main {
        padding: 0;
    }

    .weather-card {
        padding: 100px 0 0 0;
    }

    .weather-location {
        font-size: 1.5rem;
    }

    .weather-condition {
        font-size: 1.5rem;
    }

    .weather-temperature {
        font-size: 5rem;
    }

    .param-grid .row {
        flex-direction: column;
        align-items: center;
    }

    footer {
        padding: 80px 0 100px 0;
    }
}
